@import '_variables';

.order-by {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;

  select {
    font-size: 18px;
    margin-left: 10px;
    background-color: $light-color;
  }
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  @media#{$desktop-md} {
    grid-template-columns: repeat(3, 1fr);
  }

  @media#{$tablet} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media#{$phone} {
    grid-template-columns: 1fr;
  }
}