@import '_variables';

.product {
    text-align: center;
    border: 1px solid $border-color;
    padding: 10px;
    border-radius: 10px;
}

button {
    background-color: $primary-color;
    color: $light-color;

    &:active {
        background-color: $secondary-color;
    }
}