@import '_variables';

.product {
    text-align: center;
    border: 1px solid $secondary-color;
    padding: 10px;
    border-radius: 10px;

    .name {
        font-size: 20px;
    }

    img {
        height: 200px;
        margin: 10px auto;
    }

    .price {
        font-size: 18px;
    }
}